* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: brown;
}

#contenedor {
    height: 700px;
    display: flex;
    flex-flow: row;
}

#contenedor div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    box-sizing: border-box;
}

p {
    font-size: 40px;
}

.uno {
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 200px;
}

.dos {
    flex-grow: 2;
    align-self: flex-start;
}

.tres {
    flex-grow: 3;
    flex-shrink: 2;
}

.cuatro {
    order: 1;
    flex-grow: 2;
}

