* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: crimson;
}

div {
    height: 400px;
    width: 400px;
    background-color: rgb(7, 119, 11);
    margin: 100px auto;
    border-radius: 40px / 20px;
}

img {
    height: 60%;
    border-radius: 50%;
    border: 5px solid black;

}

