* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: brown;
}

div {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 0 auto;
    transition-property: background-color, height, width;
    transition-duration: .5s, 1s, 1s;
    transition-timing-function: cubic-bezier(.74, .85, .28, .87);
    transition-delay: 0, 1s, 2s;
}

div:hover {
    height: 600px;
    background-color: rgb(10, 13, 153);
    width: 100%;
}


